<h1 class="floating-title">My Projects</h1>

<h1>Mock Exam</h1>
<p class="tech">
    I created a web based Mock Exam site for my client. It is designed to recreate the digital exam experience <br>
    and will be used for coaching CFA Examination Candidates. Also created a Question Bank program for <br>
    Exam Administrator to manage the exam syllabus and questions, as well as to easily create exam sessions <br>
    for the Mock Exam site to use.
</p>

<div class="project-imgs">
    <div class="outer">
        <div class="inner">
            <a href="assets/images/qbank.png" target="_blank">
                <img src="assets/images/qbank.png" alt="Question Bank">
            </a>
        </div>
    </div>
    <div class="outer">
        <div class="inner">
            <a href="assets/images/admin.png" target="_blank">
                <img src="assets/images/admin.png" alt="Mock Exam">
            </a>
        </div>
    </div>
</div>

<p class="tech">
    <em>You can click on an image to view in fullscreen</em> <br><br>
    Technologies used: <strong>Angular, Node.js, Express, MongoDB, jQuery, and EJS.</strong> <br>
    This project is not public.
</p>
