h1 {
    color: var(--main-dark);
    text-align: center;
    font-size: 1.5rem;
}

.floating-title {
    color: var(--sub1);
    font-size: 2.5rem;
    position: absolute;
    top: -10%; left: 50%;
    margin: 0;
    transform: translate(-50%, 0);
}

.tech {
    margin-top: 2rem;
    text-align: center;
    font-size: 0.8rem;
    color: grey;
}


.project-imgs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer {
    flex: 1;
    margin: 10px;
    width: 35vw;

    display: flex;
    justify-content: center;
    align-items: center;
}
.inner {
    width: 33vw; padding-top: 56.25%;
    transition: width 300ms;
    overflow: hidden;
    box-shadow: 0 0 5px grey;
    border-radius: 15px;
    position: relative;
}
.inner:hover {
    width: 35vw;
    transition: width 300ms;
}

.project-imgs img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}