<h1 class="floating-title">My Projects</h1>

<h1>Mock Exam</h1>

<div class="project-imgs">
    <div class="outer">
        <div class="inner">
            <a href="assets/images/qbank.png" target="_blank">
                <img src="assets/images/qbank.png" alt="Question Bank">
            </a>
        </div>
    </div>
    <div class="outer">
        <div class="inner">
            <a href="assets/images/admin.png" target="_blank">
                <img src="assets/images/admin.png" alt="Mock Exam">
            </a>
        </div>
    </div>
</div>

<p class="tech">Technologies used: Angular, Node.js, Express, MongoDB, jQuery</p>
