<div class="container">

    <div class="desc">
        <h1>Mock Exam</h1>
        <p>
            I created a web based Mock Exam site for my client. It is designed to recreate the digital exam experience
            and will be used for coaching CFA Examination Candidates. <br>
            I also created a Question Bank program for Exam Administrator to manage
            the exam syllabus and questions, as well as to easily create exam sessions for the Mock Exam site to use. <br>
            This is my second freelance project and I am currently maintaining it. &nbsp; <em>(2020)</em> <br><br>

            Technologies used: <strong>Angular, Node.js, Express, MongoDB, jQuery, and EJS.</strong> <br>
            The source code for this project is not public. <br><br>

            <em>You can click on an image to view in fullscreen</em> 
        </p>
    </div>

    <div class="project-imgs">
        <div class="outer">
            <div class="inner">
                <a href="assets/images/qbank.png" target="_blank">
                    <img src="assets/images/qbank.png" alt="Question Bank">
                </a>
            </div>
        </div>
        <div class="outer">
            <div class="inner">
                <a href="assets/images/admin.png" target="_blank">
                    <img src="assets/images/admin.png" alt="Mock Exam">
                </a>
            </div>
        </div>
    </div>

</div>





