<div class="container">
    <p class="logo">Hair by Ninson</p>

    <div class="outer img-1">
        <div class="inner">
            <a href="assets/images/hair-home.png" target="_blank">
                <img src="assets/images/hair-home.png" alt="Hair by Ninson Homepage">
            </a>
        </div>
    </div>

    <div class="outer img-2">
        <div class="inner">
            <a href="assets/images/hair-cart.png" target="_blank">
                <img src="assets/images/hair-cart.png" alt="Hair by Ninson Cartpage">
            </a>
        </div>
    </div>

    <p class="tech">Technologies used: <br> Angular, Firebase Cloud Firestore</p>
</div>

