<div class="outer">
    <div class="title"> <h1>Technical Skills</h1> </div>

    <div class="inner">
        <div class="skills-container">
            <div class="skills-row">
                <div class="skill space-btm">
                    <span class="skill-label"> <div class="triangle"></div> Frontend</span>
                    <div class="skill-points">
                        <div class="skill-point">
                            <div class="skill-point-title"><strong>Angular</strong> <span>{{ getTime(skills.angular) }}</span></div>
                            <em>Used in 3 projects</em>
                        </div>
                        <div class="skill-point">
                            <div class="skill-point-title"><strong>React</strong> <span>{{ getTime(skills.react) }}</span></div>
                            <em>Used in 2 project</em>
                        </div>
                        <div class="skill-point">
                            <div class="skill-point-title"><strong>Svelte</strong> <span>{{ getTime(skills.svelte) }}</span></div>
                        </div>
                    </div>
                </div>

                <div class="skill space-btm">
                    <span class="skill-label"> <div class="triangle"></div> Database</span>
                    <div class="skill-points">
                        <div class="skill-point">
                            <div class="skill-point-title"><strong>Cloud Firestore</strong> <span>{{ getTime(skills.firestore) }}</span></div>
                            <em>Used in 3 projects</em>
                        </div>
                        <div class="skill-point">
                            <div class="skill-point-title"><strong>MongoDB</strong> <span>{{ getTime(skills.mongo) }}</span></div>
                            <em>Used in 2 projects</em>
                        </div>
                    </div>
                </div>
            </div>


            <div class="skills-row">
                <div class="skill">
                    <span class="skill-label"> <div class="triangle"></div> Backend</span>
                    <div class="skill-points">
                        <div class="skill-point">
                            <div class="skill-point-title" ><strong>Node.js & Express</strong> <span>{{ getTime(skills.node) }}</span></div>
                            <em>Used in 3 projects</em>
                        </div>
                    </div>
                </div>

                <div class="skill">
                    <span class="skill-label"> <div class="triangle"></div> App</span>
                    <div class="skill-points">
                        <div class="skill-point">
                            <div class="skill-point-title"><strong>Android Studio</strong> <span>{{ getTime(skills.android) }}</span></div>
                            <em>Used in 2 projects</em>
                        </div>
                        <div class="skill-point">
                            <div class="skill-point-title"><strong>Flutter</strong> <span>{{ getTime(skills.flutter) }}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
