<div class="outer">
    <div class="inner">
        <h1>Experience</h1>
        <div class="inner-text">
            <p>My passion is for software development, and I love learning web and app development technologies.</p>
            <p>Here are my top 5 skills:</p>

            <div class="skills-row">
                <span>Frontend Web, App</span>
            </div>
            <div class="skills-row">
                <span>Angular</span>
                <span>React</span>
                <span>Svelte</span>
                <span>Flutter</span>
            </div>
            <div class="skills-row">
                <span>Backend Server</span>
            </div>
            <div class="skills-row">
                <span>Node.js</span>
                <span>Express</span>
            </div>
        </div>
    </div>
</div>
