<div class="outer">
    <div class="inner">
        <h1>Technical Skills</h1>

        <div class="skills-container">
            <div class="skills-row">
                <div class="skill">
                    <span class="skill-label">Frontend</span>
                    <div class="skill-points">
                        <div class="skill-point">
                            <div style="color: #DD0031;" class="skill-point-title"><strong>Angular</strong> <span>{{ getTime(skills.angular) }}</span></div>
                            <em>Used in 3 projects</em>
                        </div>
                        <div class="skill-point">
                            <div style="color: #61DAFB;" class="skill-point-title"><strong>React</strong> <span>{{ getTime(skills.react) }}</span></div>
                            <em>Used in 2 project</em>
                        </div>
                        <div class="skill-point">
                            <div style="color: #FF3E00;" class="skill-point-title"><strong>Svelte</strong> <span>{{ getTime(skills.svelte) }}</span></div>
                        </div>
                    </div>
                </div>

                <div class="skill">
                    <span class="skill-label">Database</span>
                    <div class="skill-points">
                        <div class="skill-point">
                            <div style="color: #F57C00;" class="skill-point-title"><strong>Cloud Firestore</strong> <span>{{ getTime(skills.firestore) }}</span></div>
                            <em>Used in 3 projects</em>
                        </div>
                        <div class="skill-point">
                            <div style="color: #116149;" class="skill-point-title"><strong>MongoDB</strong> <span>{{ getTime(skills.mongo) }}</span></div>
                            <em>Used in 2 projects</em>
                        </div>
                    </div>
                </div>
            </div>


            <div class="skills-row">
                <div class="skill">
                    <span class="skill-label">Backend</span>
                    <div class="skill-points">
                        <div class="skill-point">
                            <div style="color: #43853D;" class="skill-point-title" ><strong>Node.js & Express</strong> <span>{{ getTime(skills.node) }}</span></div>
                            <em>Used in 3 projects</em>
                        </div>
                    </div>
                </div>

                <div class="skill">
                    <span class="skill-label">App</span>
                    <div class="skill-points">
                        <div class="skill-point">
                            <div style="color: #71D88C;" class="skill-point-title"><strong>Android Studio</strong> <span>{{ getTime(skills.android) }}</span></div>
                            <em>Used in 2 projects</em>
                        </div>
                        <div class="skill-point">
                            <div style="color: #1489FD;" class="skill-point-title"><strong>Flutter</strong> <span>{{ getTime(skills.flutter) }}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
