.outer {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 10px grey;
    background-color: whitesmoke;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.title {
    background-color: var(--main);
}
h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--main-dark);
}

.inner {
    flex: 1;
    margin: 20px 50px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.space-btm {
    margin-bottom: 1.5rem;
}

.triangle {
    width: 0; height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid var(--sub1);

    position: absolute;
    top: 0.5rem; left: -1rem;
}


.skills-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skills-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.skill {
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem;
}
.skill-label {
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    margin-right: 2rem;
    width: 5rem;
    color: black;
    position: relative;
}

.skill-point {
    margin-bottom: 10px;
    width: 13rem;
}
.skill-point strong {
    font-size: 0.9rem;
}
.skill-point em {
    font-size: 0.8rem;
    font-style: italic;
}

.skill-point-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-dark);
}
.skill-point-title span {
    font-size: 0.8rem;
}


@media only screen and (max-width: 1400px) {


    .skill {
        margin: 1rem;
    }

    .skill-label {
        width: 4rem;
    }

    .skill-point {
        margin-bottom: 10px;
        width: 10rem;
    }

}

@media only screen and (max-width: 1100px) {

    .skills-row {
        flex-direction: column;
        align-items: center;
    }

    .skill {
        display: inline-flex;
        justify-content: left;
    }

    .skill-label {
        margin-right: 3rem;
    }
}