<div class="outer">
    <a href="https://ahnafone.github.io/MusicBot/" target="_blank">
        <div class="inner">
            <img src="assets/images/musicbot.png" alt="">
            <div class="cta">
                <a href="https://ahnafone.github.io/MusicBot/" target="_blank">
                    <button class="cta-btn">UI Demo</button>
                </a>
                <a href="https://github.com/ahnafone/MusicBot/" target="_blank">
                    <button class="cta-btn cta-primary"> <fa-icon [icon]="faGit"></fa-icon> </button>
                </a>
                <p> Technologies used: <br> <strong>React, Node.js, and Express.</strong> </p>
            </div>
        </div>
    </a>
</div>
