.container {
    display: flex;
}

.desc {
    width: 30vw;
    margin-left: 3rem;
}
.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    color: var(--sub1);
    margin: 0;
}
p {
    font-size: 0.8rem;
    line-height: 1.5rem;
}
a {
    color: var(--main-dark);
}



.outer {
    width: 50vw; height: 40vh;
    position: relative;
}

.inner {
    width: 47vw; padding-top: 56.25%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 3px 3px 15px grey;
    transition: width 300ms, padding-top 300ms;

    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.inner:hover {
    width: 50vw;
    transition: width 300ms, padding-top 300ms;
}

img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.cta-btn {
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--sub1);
    background-color: white;
    border: 2px solid var(--sub1);
    border-radius: 30px;
    margin: 0 3px;
    padding: 5px 10px;
}
.cta-btn:hover {
    color: white;
    background-color: var(--sub1);
}

.cta-btn fa-icon {
    font-size: 1rem;
}

.cta-primary {
    color: white;
    background-color: var(--sub1);
}
.cta-primary:hover {
    color: var(--sub1);
    background-color: white;
}