<div class="container">

    <div class="outer">
        <a href="https://ahnafone.github.io/MusicBot/" target="_blank">
            <div class="inner">
                <img src="assets/images/musicbot.png" alt="">
            </div>
        </a>
    </div>

    <div class="desc">
        <div class="title">
            <h1>MusicBot</h1>
            <div class="cta">
                <a href="https://ahnafone.github.io/MusicBot/" target="_blank">
                    <button class="cta-btn">Demo</button>
                </a>
                <a href="https://github.com/ahnafone/MusicBot/" target="_blank">
                    <button class="cta-btn cta-primary"> <fa-icon [icon]="faGit"></fa-icon> </button>
                </a>
            </div>
        </div>

        <p>
            This is a personal project. It is a bot that works similarly to a discord music bot. It allows
            you and your friends to queue songs and play it, but it comes with the added benefit of not requiring discord to work.
            Its fun for parties! <br>

            You can check out the <a href="https://ahnafone.github.io/MusicBot/" target="_blank">UI Demo</a>
            as well as the source code <a href="https://github.com/ahnafone/MusicBot/" target="_blank">here</a>. <br><br>

            Technologies used: <strong>React, Node.js, and Express.</strong>
        </p>
    </div>

</div>