<div class="outer">
    <img class="back-img" src="assets/images/uni-back.jpeg" alt="uni campus">
    <div class="inner">
        <img class="logo" src="assets/images/uni-logo.png" alt="uni logo">
        <div class="inner-text">
            <h1>Education</h1>
            <p>I'm currently doing my Bachelors in Computing Science at the University of Alberta.</p>
            <p>
                I have taken courses Data Structures, Algorithms, Computer Architecture, Software Engineering,
                Machine Learning, and Computer Networking. The field I've chosen to follow is Software Engineering
                because I fell in love with creating software.
            </p>
        </div>
    </div>
</div>