.arrow {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);

    color: white;
    background-color: var(--sub1);
    padding: 0.2rem 1rem;
    border-radius: 15px;

    margin: 0;
    opacity: 0;
    cursor: pointer;
}
.arrow fa-icon {
    font-size: 1rem;
}
.arrow span {
    font-size: 0.8rem;
    display: inline-block;
}

.up {
    top: 0;
}
.down {
    bottom: 0;
}

.show {
    opacity: 1;
    margin: 30px 0;
    transition: opacity 150ms, margin 300ms;
}